@page "/"
@using OmniPort.UI.Components.Layout
@layout MainLayout
@rendermode InteractiveServer

<h1 class="text-2xl font-bold mb-4">OmniPort: All-in-one</h1>

<Templates />
<JoinTemplates />
<TransformFile />
